@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji+2&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Baloo Paaji 2', cursive;
}

#main-container {
	width: 90vw;
	height: 100vh;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	position: sticky;
	top: 0;
	z-index: 100;
}

#header-content h5,
.navbar-brand {
	word-spacing: 4px;
	letter-spacing: 1px;
}

#nav-list {
	margin: 0 1.4rem;
}

#body-content {
	margin-top: 1rem;
}

.card-header span {
	letter-spacing: 1px;
}

.jumbotron {
	padding: 2rem 1rem 0 1rem;
	margin-bottom: ;
	border-radius: 0;
	background-color: transparent;
}

#card-wrapper {
	height: 70%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#card-wrapper .card {
	width: 18vw;
	margin-top: 1rem;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .3)
}

#card-table {
	height: 60vh;
	overflow: auto;
}

#card-table .card-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#card-table table thead th {
	position: sticky;
	top: 0;
}

footer .navbar {
	display: flex;
	justify-content: center;
	color: #fff;
	padding: .8rem 0;
}

footer small {
	font-size: 1rem;
	letter-spacing: 1px;
}

small i {
	font-size: .7rem;
}

@media (max-width: 992px) {
	#main-container {
		overflow: auto;
		width: 100vw;
	}

	.jumbotron {
		align-items: center;
	}

	#nav-list {
		margin: 0;
	}

	#main-content {
		padding: 0;
	}

	#body-content {
		margin-bottom: 2rem;
	}

	#card-table {
		height: 80vh;
	}

	#card-wrapper {
		flex-direction: row;
		align-items: center;
		height: 30vh;
	}

	#card-wrapper .card {
		width: 30vw;
	}

}

@media (max-width: 425px) {
	#header-content {
		text-align: center;
		margin-bottom: 1.5rem;
	}

	#nav-list .navbar-brand {
		margin-right: 4rem;
	}

	#card-wrapper {
		flex-direction: column;
		height: 70vh;
	}

	#card-wrapper .card {
		width: 80vw;
	}
}